---
import Layout from "../layouts/Layout.astro";
import RepoCard from "../components/RepoCard.astro";
import { SITE_TITLE } from "../consts";
---

<Layout
  title={`About - ${SITE_TITLE}`}
  description={`Learn more about ${SITE_TITLE} - A humanities blog exploring the depths of human thought and culture`}
>
  <div class="space-y-6">
    <h1
      class="font-bold text-4xl text-foreground mb-8 border-b-2 border-dashed w-fit"
    >
      About
    </h1>

    <div class="space-y-4 bg-accent rounded-md p-6">
      <h2 class="text-2xl font-semibold text-foreground mb-4">Nocturne</h2>
      <div class="space-y-3 text-muted-foreground">
        <p>Selamat datang di website ini, tempat yang author gunakan untuk mengurangi <b><i>noise</i> </b>di kepala</p>
        <p>This blog is a collection of thoughts, reflections, and explorations into the human experience, written in the quiet hours when ideas come to life.</p>
      </div>
    </div>
  </div>
</Layout>
