---
import AvatarCard from "./AvatarCard.astro";
import Navigation from "./Navigation.astro";
---

<div
  class="bg-background relative h-full rounded-md flex flex-col w-full overflow-y-auto"
>
  <div class="absolute inset-0 bg-accent rounded-md z-0"></div>
  <div class="relative z-10 p-6 space-y-6 flex flex-col h-full">
    <AvatarCard />
    <Navigation />
  </div>
</div>
